/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color-page: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-image-text: #FF0070;
  --title-text: #DB00FF;
  --text: #F1B2CE;
  --button-text: #FF0070;
  --header-text: #000028;
  --header-bg-color: #FF0070;
  --card-title: #FF0070;
  --list-title: #000028;
  --bg-list-title: #FF0070;
  --card-text: #F1B2CE;
  --border-line: #FF0070; 
  --outline: rgba(255, 0, 112, 0.40);
  --block: flex;
}


