/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  background-color: var(--bg-color-page);
  margin: auto;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.rec-div {
  display: flex;
  align-items: start;
}

.rec-header {
  color: #ff0070;
  text-align: center;
  font-family: var(--font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  text-transform: uppercase;
  display: var(--block);
  justify-content: end;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.rec-header::after {
  content: "";
  width: 9px;
  height: 9px;
  fill: #ff0070;
  box-shadow: 0 0 4px 2px var(--bg-image-text, #ff0070);
  background-color: #ff0070;
  border-radius: 50%;
}

.header {
  height: 100vh;
  min-height: 668px;
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--border-line, #ff0070);
  border-right: 1px solid var(--border-line, #ff0070);
  width: 25.038px;
  height: 24.999px;
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--border-line, #ff0070);
  border-left: 1px solid var(--border-line, #ff0070);
  width: 25.038px;
  height: 24.999px;
  left: 10px;
  bottom: 10px;
}

.header-title {
  flex-shrink: 0;
  color: var(--title-text);
  text-shadow: 4px 4px 0px var(--bg-image-text);
  font-family: var(--font-family), monospace;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header-text {
  width: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem);
  color: var(--header-text);
  font-family: var(--font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--header-bg-color);
  justify-self: end;
  align-self: center;
}

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: end;
  padding-right: 7px;
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--button-text);
  text-align: center;
  font-family: var(--font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button_active:disabled {
  pointer-events: none;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  outline-offset: 3px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-line);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline);
  outline-offset: 3px;
}

.link {
  color: var(--link #f1b2ce);
  text-shadow: 2px 2px 0px var(--link-shadow);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--border-line);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--link);
  outline-offset: -1px;
}

/* Стили main*/
.card {
  margin-top: 31px;
  display: grid;
  padding: 10px;
}

.card-list-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card-title {
  color: var(--card-title);
  font-family: var(--font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-bottom: 20px;
}

.list-title {
  color: var(--list-title);
  background-color: var(--bg-list-title);
  font-family: var(--font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.card-text {
  color: var(--card-text);
  font-family: var(--font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.list-title.font-normal {
  font-weight: 400;
}

.grid-section:not(:last-child) {
  margin-bottom: 50px;
}

.list-title.margin-bottom {
  margin-bottom: 10px;
}

/* секция card-images */

.card-images {
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 31px;
}

.card-list-images {
  margin-top: 10px;
  grid-template-columns: 1fr;
  gap: 10px;
  display: grid;
}

.grid-images {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center;
}

/* класс footer */
.footer {
  min-width: 375px;
  min-height: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.title-footer {
  color: var(--title-text);
  text-shadow: 2px 2px 0px var(--bg-image-text);
  font-family: var(--font-family), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
}

/* медиазапросы */

@media (width >= 768px) {
  .header {
      padding: 20px;
      min-height: 1024px;
  }

  .header-title {
      margin-inline-start: -20px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-text {
      width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  }

  .rec-header {
      top: 20px;
      right: 30px;
  }

  .decorated-zone::before {
      right: 20px;
      top: 20px;
  }

  .decorated-zone::after {
      bottom: 20px;
      left: 20px;
  }

  .card-title {
      margin-bottom: 0;
  }

  .card-grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-column: span 1;
  }

  .card {
      padding: 20px;
      margin-top: 40px;
  }

  .grid-section {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
  }

  .grid-section:not(:last-child) {
      margin-bottom: 80px;
  }

  .grid-section.grid-self {
      grid-template-columns: 1fr;
  }

  .card-images {
      margin-top: 40px;
      padding: 20px;
      margin-bottom: 39px;
  }

  .card-list-images {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 20px;
      margin-top: 20px;
  }

  .image-soon {
      grid-column: 1/3;
      grid-row: 1;
  }

  .image-cream {
      grid-column: 3/4;
      grid-row: 1/3;
  }

  .image-tape {
      grid-column: 1;
      grid-row: 2/4;
  }

  .image-books {
      grid-column: 2/3;
      grid-row: 2/3;
  }

  .image-street {
      grid-column: 2/4;
      grid-row: 3/4;
  }

  .footer {
      min-width: 768px;
      min-height: 1024px;
      padding: 20px;
  }

  .title-footer {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .card-list.grid-self {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      align-items: start;
  }

  .header__theme-menu {
      align-self: start;
  }

  .header {
      min-height: 768px;
  }

  .footer {
      min-width: 1024px;
      min-height: 768px;
  }

  .header__theme-menu-list {
      display: flex;
      flex-direction: row;
      gap: 25px;
      justify-content: center;
      padding-right: 0px;
      padding-top: 1px;
  }

  .grid-section {
      column-gap: 11px;
  }

  .card-grid {
      grid-template-columns: 1fr 2fr;
  }
}

